.sectionDescription {
  text-align: center;
  font-size: 0.8rem;
}

.groupedColumns {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;
}

.section {
  flex: 1 0 30%;
}

.legend {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Schema */

.externalLinks {
  color: var(--accent);
}
.internalLinks {
  color: var(--text-h);
}
.placeholders {
  color: var(--text-hover);
}
