.groupedColumns {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  flex-wrap: wrap;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 10rem;
}
.group span {
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg-h);
}
.group span a {
  color: var(--accent);
}
.group span a:hover {
  color: var(--text-hover);
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltiptext {
  margin: 0.1rem !important;
  border: 1px solid var(--border) !important;
  border-radius: 0.3rem !important;
  padding: 0.1rem 0.3rem !important;
  background-color: var(--bg-h) !important;
  color: var(--text) !important;
  font-weight: normal !important;
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  opacity: 0;
  transition: opacity 500ms;
  font-size: 0.7rem !important;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
}

/* Schema */

.externalLinks {
  color: var(--accent);
}
.internalLinks {
  color: var(--text-h);
}
.placeholders {
  color: var(--text-hover);
}
