:root {
  --text: #fff;
  --text-h: #cddbe7;
  --bg: #172431;
  --bg-h: #456f93;
  --border: #f0f4f8;
  --accent: #2e4861;
  --accent-bg: #cddbe7;
  --accent-border: #1b2b3a;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Global */
body {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 0 0;
  min-height: 100svh;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: var(--text-h);
}
h1 {
  font-size: 3rem;
}
p {
  margin: 0 1rem;
}
a {
  color: var(--text-h);
  font-weight: bold;
}
a:hover,
button:hover {
  transition: 100ms;
  font-weight: bold;
  color: var(--accent);
  font-size: 1.2rem;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 4;
}
section {
  flex: 1;
}

/* NavBar */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}
nav ul a {
  color: var(--accent);
  text-decoration: none;
}
nav ul a:hover {
  font-weight: 900;
  transition-delay: 20ms;
}
.activeNavLink {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Main */
.groupedColumns {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  flex-wrap: wrap;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 10rem;
}
.group span {
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg-h);
}

/* Footer */
footer {
  width: 100%;
  z-index: 750;
  text-align: end;
  color: var(--accent);
  background-color: var(--accent-bg);
  font-size: 0.7rem;
}
footer span {
  margin-right: 0.5rem;
}

/* Error */
.errorPage {
  justify-content: center;
  flex: 1;
}
.errorPage button {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg-h);
}
