nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 1%;
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
  transition: width 500ms ease-in;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}
nav ul a {
  color: var(--accent);
  text-decoration: none;
}
nav ul a:hover {
  font-weight: 900;
  transition-delay: 20ms;
}
.activeNavLink {
  font-weight: bold;
  font-size: 1.2rem;
}
