nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 1%;
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
  transition: width 500ms ease-in;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem;
  margin: 0.2rem;
}
nav ul li {
  color: var(--accent);
  font-weight: bold;
}
nav ul a {
  color: var(--accent);
  text-decoration: none;
}
nav ul a:hover {
  font-weight: 900;
  transition-delay: 20ms;
}
nav ul button {
  background: none;
  border: none;
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
}
.activeNavLink {
  font-weight: bold;
  font-size: 1.2rem;
}
.inactiveNavLink {
  font-weight: normal;
  font-size: 1rem;
}
.activeChapterLink {
  font-weight: bold;
  font-size: 1.2rem;
}
.inactiveChapterLink {
  font-weight: normal;
  font-size: 1rem;
}
